@using FormSubmission.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Submission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .wrapper{
        margin-left: 500px;
        text-align: center;
        align-content: center;
        height: 500px;
        width: 500px;
    }
    .middle_wrapper{
            text-align: center;
            align-content: center;
        }
</style>
</head>
<body>
    <div class = wrapper>
    <div class = "middle_wrapper">
        <form action="Result"  method="post">
            <div class="form-group">
            <label for="name">First Name:</label>
            <input type="text" class="form-control" name="FirstName" placeholder="Enter your first name.">
            <span asp-validation-for="FirstName"></span>
            </div>
            <br>
            <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" name="LastName" placeholder="Enter your last name.">
            <span asp-validation-for="LastName"></span>
            </div>
            <br>
            <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" name="Age" placeholder="Enter your age.">
            <span asp-validation-for="Age"></span>
            </div>
            <br>
            <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="EmailAddress" placeholder="Enter your email address.">
            <span asp-validation-for="EmailAddress"></span>
            </div>
            <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="Password" placeholder="Enter your password.">
            <span asp-validation-for="Password"></span>
            </div>           
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
    </div>
</body>
</html>